<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#About">About</a></li>
  </ul>
  <h3 class="text-muted">testMaker</h3>
</div>

<div class="jumbotron">
  <h2>About me</h1>
  <p class="lead">
    Soy Alejandro Sanz, web developer en <a href="http://63studio.com">63Studio</a>.
  
  </p>

  <p class="lead">Últimamente ando liado con AngularJS así que en lugar de estudiar ITIL he decidido hacer esta app, para estudiar para ITIL. (Si me queda tiempo).</p>

</div>



<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the 63Studio</p>
</div>
