<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a>
        </li>
        <li><a ng-href="#About">About</a>
        </li>
    </ul>
    <h3 class="text-muted">testMaker</h3>
</div>

<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        This is the place where you do those tests and improve quickier than using a pencil!
    </p>
    <ul>
        <li ng-repeat="package in availablePackages">
           <a href="" ng-href="#/Question/{{ package.keyName }}/1">{{ package.label }}</a>
        </li>
    </ul>
    <p><a class="btn btn-lg btn-success" ng-href="#/Question/1">Go to questions<span class="glyphicon glyphicon-ok"></span></a>
    </p>
</div>


<div class="footer">
    <p>
        <span class="glyphicon glyphicon-heart"></span>from the <a href="http://63studio.com">63Studio</a>
    </p>
</div>